<!doctype html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>welcome</title>
      <link rel="stylesheet" href="css/reset.css">
      <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <nav>
            <a href="/home">Back</a>
        </nav>
        <h1>Salvador Dalí</h1>
        <h2>Origin, birth and death</h2>
        <p>Salvador Dalí, in full Salvador Felipe Jacinto Dalí y Domenech, born May 11, 1904, Figueras, Spain. Died January 23, 1989, Figueras</p>
        <h2>Who was he?</h2>
        <p>Spanish Surrealist painter and printmaker, influential for his explorations of subconscious imagery.</p>
        <h2>Something bout him</h2>
        <p>As an art student in Madrid and Barcelona, Dalí assimilated a vast number of artistic styles and displayed unusual technical facility as a painter. It was not until the late 1920s, however, that two events brought about the development of his mature artistic style: his discovery of Sigmund Freud’s writings on the erotic significance of subconscious imagery and his affiliation with the Paris Surrealists, a group of artists and writers who sought to establish the “greater reality” of the human subconscious over reason. To bring up images from his subconscious mind, Dalí began to induce hallucinatory states in himself by a process he described as “paranoiac critical.”</p>

    </body>
  </html>