<!doctype html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>paintings</title>
      <link rel="stylesheet" href="css/reset.css">
      <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <nav>
            <a href="/home">Back</a>
        </nav>
      <img src="/images/girafe-en-feu.jpg" alt="">
      <img src="/images/sueno-causado-vuelo-abeja-alrededor-granada-segundo-antes-despertar.jpg" alt="">
      <img src="/images/the-face-of-war.jpg" alt="">
      <img src="/images/the-persistence-of-memory.jpg" alt="">
    </body>
  </html>